body{
    margin: 0%;
    padding: 0%;
}
.tittle{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}
.main{
    text-align: center;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.con{
    padding: 5px;
}
.add{
    text-align: center;
}
.container{
    background-image: url("../Login/logimg.webp");
    background-repeat: no-repeat;
    background-size: cover;
}